<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head (titulo='Lista Usuarios')"></head>

<body>
<nav th:replace="fragments::menu"/>

<div class="container-fluid">

    <div class="row mt-3">
        <div class="col">
            <h2 th:text="'Descripción usuario'"></h2>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col">
            <table class="table table-striped">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td th:text="${usuario.id}"></td>
                </tr>
                <tr>
                    <th>Correo electrónico</th>
                    <td th:text="${usuario.email}"></td>
                </tr>
                <tr>
                    <th>Nombre</th>
                    <td th:text="${usuario.nombre}"></td>
                </tr>
                <tr>
                    <th>Fecha nacimiento</th>
                    <td th:text="${usuario.fechaNacimiento}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div th:replace="fragments::javascript"/>

</body>
</html>